@model BuildMonitor.Models.Home.Build


<div id="BuildDiv-@Model.Id" class="col-md-4">
	<div class="well">
		<h4 class="buildTitle text-cutoff">@Model.Name</h4>
		<h4 class="status-@Model.Status text-cutoff">@Model.StatusText</h4>
		<p class="buildInfo text-cutoff">@Model.StatusDescription</p>

		<p class="buildInfo text-cutoff">Last updated by <span class="buildInfoHighlight">@Model.UpdatedBy</span> @Model.LastRunText</p>
	</div>
</div>